// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.flex {
    display: flex;
    justify-content: right;
   
}
.green {
    color: green;
}
.red {
    color: red;
}

.grid {
    display: grid;
}
